@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

::-webkit-scrollbar {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 80%;
    margin: auto;
}

.en {
    display: none;
}


/* index.html */
/* 헤더 */
header {
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#logo {
    width: 6%;
    padding: 1%;
    max-width: 100%;
    position: relative;
}

#lan {
    width: 50px;
    position: absolute;
    right: 5%;
    top: 55%;

    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}

/* 섹션 */
section {
    width: 100%;
    height: 600px;
    margin-bottom: 1%;
    box-shadow: 0 10px 10px -10px #333333;
}

section .title {
    padding-top: 11%;
    font-size: 2em;
    font-weight: 600;
}

section .sub-title {
    margin-top: 1%;
    padding-top: 1%;
    padding-left: 1.5%;
    padding-bottom: 1%;
    
    font-size: 1.3em;
    font-weight: 400;
    border-left: 1px solid black;
}

section .info {
    width: 32%;
    padding-top: 1%;
    line-height: 1.7em;
    text-align: justify;
}

section .left {
    margin-left: 10%;
}

section .right {
    margin-left: 60%;
}

section .middle {
    margin: auto;
    text-align: center;
}

section p {
    width: 95px;
    margin-top: 5px;
    color: #0255db;
    font-size: 0.9em;
}

section p:hover {
    cursor: pointer;
    border-bottom: 1px solid #0255db;
}

/* 주제 */
#section-main {
    padding-top: 4%;
    background-image: url('src/image1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f3f5fb;
}

#section-main .title {
    padding-top: 15%;
}

#section-main .sub-title {
    border-left: 1px solid white;
}

/* 동기 */
#section-why {
    background-image: url('src/image2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e2e9f3;
}

#news {
    height: 380px;
    margin-bottom: 0;
    text-align: center;
}

/* 소비전력 */
#section-product {
    padding-right: 1%;
    background-image: url('src/image3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-product .info {
    width: 500px;
    padding-top: 5%;
}

/* 개발 방법 */
#section-what {
    background-image: url('src/image4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#code {
    height: auto;
    margin-bottom: 0;
    text-align: center;
}

#code img {
    width: 1000px;
}

/* 가정 활용 방법 */
#section-how1 {
    background-image: url('src/image5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*기업 활용 방법 */
#section-how2 {
    background-image: url('src/image6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* 체험 */
#section-check {
    height: 50%;
    margin-bottom: 0;

    line-height: 50%;
    text-align: center;
    background-image: url('src/image7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section button {
    width: 150px;
    height: 50px;
    margin-top: 4%;

    font-weight: 600;
    color: white;
    background-color: #000;
    border: 0;
    border-radius: 15px 15px 15px 15px;
}

section button:hover {
    background-color: #fff;
    color: black;
}

#section-check #demo {
    margin-top: -7%;
}

footer {
    width: 100%;
    height: 40px;
    line-height: 40px;

    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #f3f5fb;
}

/* check.html */
#check {
    display: none;
}

#section-list {
    padding-top: 7%;
    text-align: center;
}

#section-list .title {
    padding-top: 2%;
}

#section-graph .title {
    padding-top: 2%;
}

#temp, #mois, #oxy {
    height: 400px;
    text-align: center;
}

#oxy {
    margin-bottom: 0;
}


/* news.html */
#news {
    height: 700px;
    margin-top: 7%;
}

#news img {
    width: 80%;
}


/* table */
.promos {
    width: 750px;
    margin: 0 auto;
    padding-top: 5%;
}

.promo {
    width: 250px;
    float: left;

    background: #0F1012; 
    color: #f9f9f9;
}

.deal {
    padding: 10px 0 0 0;
}

.deal span {
    display: block;
    text-align: center;
}

.deal span:first-of-type {
    font-size: 23px;  
}

.deal span:last-of-type {
    font-size: 13px;
}

.promo .price {
    width: 250px;  
    margin: 15px 0 10px 0;
    padding: 17px 0;
    display: block;

    background: #292b2e;
    text-align: center;
    font-size: 23px;
}

.scale .subject {
    color: #64AAA4;
}

.subject {
    font-size: 11px;
    color: white;
}

ul {
    display: block;
    margin: 20px 0;
    padding: 0;

    list-style-type: none;
    text-align: center;
    color: #999999;
}

li {
    display: block;
    margin: 10px 0 0 0;
}

.promo button {
    padding: 10px 37px;
    margin: 10px 0 20px 60px;

    border: none;
    border-radius: 40px;
    background: #292b2e;
    color: #f9f9f9;
}

.scale {
    transform: scale(1.2);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
}

.scale button {
    background: #64AAA4;
}

.scale .price {
    color: #64AAA4;
}